<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseAddress" value="http://localhost:63114/api" />
    <!--
    <add key="BaseAddress" value="http://transitservices.sfbay511.org/api" />
    -->
    <add key="EndPoints" value="BARTAlert,BARTTripUpdate"/>
    <add key="SaveFilePath" value="C:\APIDataDownloads\" />
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>